<header id="header" class="fixed-top " style="background-color: rgba(0, 0, 0, 0.9)">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a>Labour Cloud</a></h1>

        <nav id="navbar" class="navbar">
            <ul>


                <li class="dropdown"><a href="#"><span>Requests</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>

                        <li><a href="manage-work-request">My Requests</a></li>
                    </ul>
                </li>

                <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
                <i class="bi bi-list mobile-nav-toggle"></i>
                </li>
            </ul>
        </nav>

    </div>
</header>