<header id="header" class="fixed-top " style="background-color: rgba(0, 0, 0, 0.9)">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a>Hiring Portal</a></h1>

    <nav id="navbar" class="navbar">
      <ul>


        <li class="dropdown"><a href="#"><span>Requests</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="new_work_request">New Requests</a></li>
            <li><a href="manage-old-work-request-by-reference">Old Requests</a></li>
          </ul>
        </li>

        <li class="dropdown"><a href="#"><span>Feedbacks</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="user_feedback">Post Feedback</a></li>
          </ul>
        </li>

        <li><a class="nav-link scrollto" href="/logout">Logout</a></li>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </li>
      </ul>
    </nav>

  </div>
</header>